.cp_embed_wrapper {
    /* required for resize to work */
    overflow: hidden;
  
    /* make resizeble! */
    resize: both;
  
    /* required to see the handle */
    background: white;
    padding-bottom: 10px;
  
    /* default height */
    height: 400px;
  }
  .cp_embed_wrapper iframe {
    height: 100% !important;
  }
  
  
  body{
      font-family: 'Open Sans Condenses', sans-serif;
      background: #DCE35B;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      }
  
  h2{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  
  ul{
      padding:0;
  }
  
  .container{
      width: 360px;
      height: 450px;
      padding: 0;
      margin: 50px auto;
      background:white;
      box-shadow: 0 0 3px rgb(0, 0, 0, 0.1);
  
  }
  .header{
      background: #000000;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
      color: white;
  }